h1 {
  color: rgb(95, 155, 192);
}

ul {
  padding: 0;
  margin: 0;
  position: relative;
  left: -32px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
}

strong {
  font-size: 65px;
  color: rgb(95, 155, 192);
}

.units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.card {
  max-width: 600px;
  margin: 30px auto;
}

img {
  position: relative;
  top: -20px;
  left: -10px;
}
